<section>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card mt-5">
            <div class="card-body">
              <h3 class="card-title text-center mb-4">Forgot Password</h3>
              <form action="/forgot-password" method="post">
                <div class="mb-3">
                  <label for="email" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="email" name="email" required>
                </div>
                {{#if error}}
                <p>{{error}}</p>
                {{/if}}
                {{#if success}}
                <p>{{success}}</p>
                {{/if}}
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>