<section class="container">
  <h1 class="mt-5">Reset Password</h1>
  <div class="row mt-5">
    <div class="col-md-6">
      {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
      {{else}}
        <form id="reset-password-form" method="POST" action="/reset">
         <input type="hidden" name="email" value="{{email}}">
         <input type="hidden" name="token" value="{{token}}">
          <div class="form-group">
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" class="form-control" required  title="Password must contain at least 8 characters, including at least one uppercase letter, one lowercase letter, and one number">
            <div id="password_error" class="text-danger"></div>
          </div>
          <div class="form-group">
            <label for="confirm_password">Confirm New Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" class="form-control" >
            <div id="confirm_error" class="text-danger"></div>
          </div>
          <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
      {{/if}}
    </div>
  </div>
  
</section>
{{!-- 
<script>
const passwordInput = document.getElementById('password');
const confirmInput = document.getElementById('confirm_password');
const passwordError = document.getElementById('password_error');
const confirmError = document.getElementById('confirm_error');
const form = document.getElementById('reset-form');

// Function to validate password
function validatePassword() {
  const password = passwordInput.value;
  const confirm = confirmInput.value;

  // Check if password meets minimum requirements
  if (password.length < 8) {
    passwordError.textContent = 'Password must be at least 8 characters long';
  } else if (!/[A-Z]/.test(password)) {
    passwordError.textContent = 'Password must contain at least one uppercase letter';
  } else if (!/[0-9]/.test(password)) {
    passwordError.textContent = 'Password must contain at least one number';
  } else {
    passwordError.textContent = '';
  }

  // Check if confirm password matches password
  if (confirm.length >= 8) {
    if (password !== confirm) {
      confirmError.textContent = 'Passwords do not match';
    } else {
      confirmError.textContent = '';
    }
  }
}

// Add event listener to password input field
passwordInput.addEventListener('input', validatePassword);

// Add event listener to confirm password input field
confirmInput.addEventListener('input', validatePassword);

// Add event listener to form submission
form.addEventListener('submit', function(event) {
  const password = passwordInput.value;
  const confirm = confirmInput.value;

  if (password !== confirm) {
    confirmError.textContent = 'Passwords do not match';
    event.preventDefault();
  }
});
</script> --}}
